In [1]:
# required libraries
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
# read the dataset
data = pd.read_csv('train_ctrUa4K.csv')
print(data.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y

In [3]:
print('\n\nColumn Names\n\n')
print(data.columns)

Column Names


Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [4]:
#label encode the target variable
encode = LabelEncoder()
data.Loan_Status = encode.fit_transform(data.Loan_Status)

In [5]:
# drop the null values
data.dropna(how='any',inplace=True)

In [6]:
# train-test-split   
train , test = train_test_split(data,test_size=0.2,random_state=0)

In [7]:
# seperate the target and independent variable
train_x = train.drop(columns=['Loan_ID','Loan_Status'],axis=1)
train_y = train['Loan_Status']

test_x = test.drop(columns=['Loan_ID','Loan_Status'],axis=1)
test_y = test['Loan_Status']

train_x.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
481,Male,Yes,3+,Not Graduate,No,3095,0.0,113.0,360.0,1.0,Rural
341,Female,No,0,Graduate,No,2378,0.0,46.0,360.0,1.0,Rural
297,Female,Yes,1,Graduate,No,4666,0.0,135.0,360.0,1.0,Urban
255,Female,No,3+,Graduate,No,3083,0.0,255.0,360.0,1.0,Rural
271,Male,Yes,0,Graduate,No,11146,0.0,136.0,360.0,1.0,Urban

In [8]:
# encode the data
train_x = pd.get_dummies(train_x)
test_x  = pd.get_dummies(test_x)

In [9]:
print('shape of training data : ',train_x.shape)
print('shape of testing data : ',test_x.shape)

shape of training data :  (384, 20)
shape of testing data :  (96, 20)

In [10]:
train_x.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
481,3095,0.0,113.0,360.0,1.0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0
341,2378,0.0,46.0,360.0,1.0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0
297,4666,0.0,135.0,360.0,1.0,1,0,0,1,0,1,0,0,1,0,1,0,0,0,1
255,3083,0.0,255.0,360.0,1.0,1,0,1,0,0,0,0,1,1,0,1,0,1,0,0
271,11146,0.0,136.0,360.0,1.0,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1

In [ ]:
## Select the most accurate model based on test data

In [20]:

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn import model_selection

print('\nAccuracy Score')

model = LogisticRegression()
model.fit(train_x,train_y)
predict = model.predict(test_x)
print('\nLR  : ',accuracy_score(test_y,predict))

model1=LinearDiscriminantAnalysis()
model1.fit(train_x,train_y)
predict1=model1.predict(test_x)
print('\nLDA  : ',accuracy_score(test_y,predict1))

model2=KNeighborsClassifier()
model2.fit(train_x,train_y)
predict2=model2.predict(test_x)
print('\nKNN  : ',accuracy_score(test_y,predict2))

model3=DecisionTreeClassifier()
model3.fit(train_x,train_y)
predict3=model3.predict(test_x)
print('\nDecisionTree  : ',accuracy_score(test_y,predict3))

model4=GaussianNB()
model4.fit(train_x,train_y)
predict4=model4.predict(test_x)
print('\nGaussianNB  : ',accuracy_score(test_y,predict4))

model5=SVC()
model5.fit(train_x,train_y)
predict5=model5.predict(test_x)
print('\nSVM : ',accuracy_score(test_y,predict5))

Accuracy Score

LR  :  0.7604166666666666

LDA  :  0.7708333333333334

KNN  :  0.59375

DecisionTree  :  0.6666666666666666

GaussianNB  :  0.7604166666666666

SVM :  0.6354166666666666

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [21]:
# create the object of the model
model = LinearDiscriminantAnalysis()

model.fit(train_x,train_y)

predict = model.predict(test_x)

print('Predicted Values on Test Data',predict)

print('\n\nAccuracy Score on test data : \n\n')
print(accuracy_score(test_y,predict))

Predicted Values on Test Data [1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1]


Accuracy Score on test data :


0.7708333333333334

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")